In [1]:
import numpy as np

# DataTypes and Attributes

In [2]:
# Numpy's main datatype is ndarray
a1 = np.array([1,3,4])
a1

array([1, 3, 4])

In [3]:
type(a1)

numpy.ndarray

In [14]:
a2 = np. array([[1,2,3],
                [4,5,6]])

a3 = np.array([[[1,2,3],
                [4,5,7],
                [8,9,9]], 
               
               [[10,11,12],
                [13,14,15],
                [16,17,18]]])

In [6]:
a2
a3

array([[list([1, 2, 3]), list([4, 5, 7, 7]), list([8, 9, 0, 8])],
       [list([10, 11, 12]), list([13, 14, 15]), list([16, 17, 18])]],
      dtype=object)

In [15]:
a3.shape

(2, 3, 3)

In [11]:
a2.shape

(2, 3)

In [16]:
a1.ndim

1

In [17]:
a2.ndim

2

In [18]:
a3.ndim

3

In [19]:
a1.dtype, a2.dtype, a3.dtype

(dtype('int32'), dtype('int32'), dtype('int32'))

In [20]:
a1.size, a2.size, a3.size

(3, 6, 18)

In [21]:
type(a1), type(a2), type(a3)

(numpy.ndarray, numpy.ndarray, numpy.ndarray)

In [22]:
# Create a dataframe from a numpy array
import pandas as pd

df = pd.DataFrame(a2)
df

   0  1  2
0  1  2  3
1  4  5  6